html {
  box-sizing: border-box;
  line-height: 1.5;
  font: normal 100%/1.5 Georgia;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
  color: #b20953;
  text-align: center;
  margin: 0;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
  text-align: center;
  padding: .5em;
}

li {
  display: inline-block;
  background-color: #b2a212;
  border-radius: 4px;
  padding: .3em;
}

a {
  color: #fff;
  text-decoration: none;
}

h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 1.875rem;
  color: #b20953;
  text-align: left;
}

main {
  margin: .3em;
}

footer {
  margin: .3em;
  text-align: center;
  background-color: #ffe500;
  font-size: .75rem;
  padding: .3em;
  margin-left: 0;
  margin-right: 0;
}

img {
  width: 100%
}

figure {
  margin: 0;
}

.fruits {
  background-color: #b20953;
}

li:hover {
  background-color: #cc1465;
}

ul {
  margin: 0;
  padding: 0;
}
